.layout-container{
  height:100vh;
  display:flex;
  flex-direction:column;
}

.layout-body{
  flex:1;
  display:flex;
}

.layout-content{
  flex:1;
  padding:25px 35px;
  background:#f8fafc;
}

.admin-header{
  height:60px;
  background:#111827;
  color:white;
  display:flex;
  align-items:center;
  padding:0 25px;
}

.admin-sidebar{
  width:220px;
  background:#1f2937;
  color:white;
  padding:20px;
}

.admin-sidebar ul{
  list-style:none;
  padding:0;
}

.admin-sidebar li{
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}

.admin-sidebar li:hover{
  background:#374151;
}
