.sidebar {
  width: 220px;
  background: white;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
}

.sidebar-logo {
  font-size: 18px;
  margin-bottom: 25px;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 6px;
}

.sidebar li:hover {
  background: #f1f5f9;
}


.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}